.header__section {
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.section__button {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section__icon,
.section__icon::before,
.section__icon::after {
  background-color: var(--HEADER-COLOR);
  width: 40px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  transition: all 1s;
}

.section__icon::before,
.section__icon::after {
  content: "";
}

.section__icon::before {
  transform: translate(-20px, -12px);
}

.section__icon::after {
  transform: translate(-20px, 12px);
}

:is(header:hover, header:focus-within) .section__icon {
  background-color: transparent;
  transform: rotate(180deg);
}

:is(header:hover, header:focus-within) .section__icon::before {
  transform: translateX(-20px) rotate(45deg);
}

:is(header:hover, header:focus-within) .section__icon::after {
  transform: translateX(-20px) rotate(-45deg);
}

:is(header:hover, header:focus-within) nav {
  display: block;
}

nav a:any-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--HEADER-COLOR);
}

nav a:hover,
nav a:focus {
  transform: scale(1.2);
  transition: all 0.3s;
}
